@charset "utf-8";
/* CSS Document */

 * {
	box-sizing: border-box; /* para mantener el tamaño de cajas incluyendo padding y margin */
}
body {
	background-color: white;
	width: 75%;
	margin: 0 auto; /* centrar la página */
	padding:25px;
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
}
	h1 {
	background-color: black;
	  	font-size: 1.8em;
	  	text-align: center;
	  	width: 50%;
	  	padding: 25px;
	  	margin: 50px auto;
	 	color: white;
	
	}
	 .campolabel {
	
	  	font-size: 1.3em;
	   	color: black;
	
	}
	h3 {
	
	  	font-size: 1.5em;
	   	color: darkred;
	
	}
	input[type=text] {
		  width: 50%;
		  border: 1px solid gray;
		  font-size: 1.5em;
		  padding: 5px;
		  border-radius: 5px;
		}
	input[type=email] {
		  width: 50%;
		  border: 1px solid gray;
		  font-size: 1.5em;
		  padding: 5px;
		  border-radius: 5px;
		}
	label {
		font-size: 1.5em;
		font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
		}
	textarea {
		  width: 50%;
		  border: 1px solid gray;
		  resize: none;
		  border-radius: 5px;
	}
	#divformulario {
		width: 50%;
		/*background-color: azure;*/
		margin: 0 auto; /* centrar la página */
		/*padding: 10px;
		margin: 5px;*/
		overflow: hidden;
	}
	#terminos {
		font-size: 0.8em;
	}
	.rojo {
		color: red;
	}
	
	input:invalid {
		background: #F7F2F2
	}
	
	input[type=submit] {
		  width: 100%;
		  border: 1px solid gray;
		  font-size: 1.3em;
		  padding: 20px;
		  margin: 5px;
		  background: #800000;
		  color: white;
	}
	input[type=submit]:hover {
		background-color: #cc0000;
		cursor: pointer;
	 } 
	a:link, a:visited {
	  width: 50%;
	  background-color: #800000;
	  font-size: 1.6em;
	  color: white;
	  padding: 10px 5px;
	  margin: 10px 25%;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	}

	a:hover, a:active {
  		background-color: #cc0000;
	}
	table {
  	border-collapse: collapse;
	width: 100%;
		}

	td {
	text-align: left;
	font-size: 1.5em;
	padding: 8px;
	}
	th {
	text-align: left;
	background-color: black;
	color: white;
	font-size: 1.5em;
	padding: 8px;
	}
	tr:nth-child(even) {
	background-color: #f2f2f2;
	}

	img {
	display: block;
	margin-left: 60px;
	}
	
	ul {
  	list-style-type: none;
  	font-size: 1.3em;
  	padding: 10px 5px;
	margin: 0 auto;
	color: black;
  	margin: 10px;
  	padding: 10px;
	}